body{
  &.asap{
    font-family: 'Asap'
  }
  &.moon{
    font-family: 'Moon'
  }
  &.mina{
    font-family: 'Mina'
  }
  &.coves{
    font-family: 'Coves'
  }
  &.kayak{
    font-family: 'Kayak'
  }
  margin-top: 26px;//height of title bar
}
html{
  overflow: hidden;
}