.main-nav{
  height: 100%;
  .nav-item{
    display: block;
    padding: 16px 10px;
    transform: skewY(-15deg);
    color: $themeColor;
    border-bottom: 2px solid $themeColor;
    transition-duration: 0.3s;
    transition-property: background-color, color;
    text-align: center;
    margin-top: -0.5px;
    overflow: hidden;
    &:first-child{
      padding-top: 24px;
      margin-top: -8px;
    }
    &:hover, &.active{
      background-color: $themeColor;
      color: #fff;
    }
    i, img{
      transform: skewY(15deg);
    }
    i{
      font-size: 26px;
    }
    img{
      margin: -16px -10px -24px;
      width: 64px;
      max-width: 64px;
    }
  }
}