.title-bar{
  background-color: hsl(0%, 0%, 95%);
  height: 26px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
  z-index: 1000;
  .logo{
    padding: 4px 4px 4px 10px;
    img{
      height: 18px;
    }
  }
}