<div class="main-nav">
  <a class="nav-item" ng-repeat="navItem in navItems" href="{{navItem.path}}" tooltip="{{navItem.name}}">
    <img ng-if="$index == 0" ng-src="{{navItem.icon}}"/>
    <i ng-if="$index != 0" class="fa fa-lg" ng-class="navItem.icon"></i>
  </a>
</div>