@font-face{
  font-family: "Moon";
  src: url('../fonts/Moon2.0-regular.otf') format('opentype');
  font-weight: normal;
}
@font-face{
  font-family: "Moon";
  src: url('../fonts/Moon2.0-bold.otf') format('opentype');
  font-weight: bold;
}
@font-face{
  font-family: "Mina";
  src: url('../fonts/Mina-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: "Mina";
  src: url('../fonts/Mina-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face{
  font-family: "Asap";
  src: url('../fonts/Asap-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: "Asap";
  src: url('../fonts/Asap-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face{
  font-family: "Coves";
  src: url('../fonts/Coves Light.otf') format('opentype');
  font-weight: normal;
}
@font-face{
  font-family: "Coves";
  src: url('../fonts/Coves Bold.otf') format('opentype');
  font-weight: bold;
}
@font-face{
  font-family: "Kayak";
  src: url('../fonts/Kayak Light.otf') format('opentype');
  font-weight: normal;
}
@font-face{
  font-family: "Kayak";
  src: url('../fonts/Kayak Bold.otf') format('opentype');
  font-weight: bold;
}